/* --------------------회색부분설정-------------------- */
.wrapper{
    background-color: #fafafa;
    width: 100%;
    margin:0;
    padding: 3em 6em;
}
/* -------------------------------------그리드스타일 <hr>위에 부분------------------------------------- */
.cart{
    background-color: #fff;
    width: auto;
    height: 100%;
    margin: 0;
    padding-bottom: 1vh;
    box-shadow: 0 0 15px #fbfbfb;
    font-weight: bold;
    border-radius: 10px;
}
.cart h1 {
    font-size: 2.5rem;
    color: #1d1d1f;
    text-align: left;
    padding: 1em 1em 1em 1em;
}
.cart>h1>i{
    margin: 0 1em;
}
.line{
    width : 90%;
    height: .2vh;
    background-color: #ddd;
    margin: 0 5%;
}
.cart-product{
    display: grid;
    grid-template-columns: 3vw 15vw 35vw 8vw 10vw 8vw ;
    padding: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}
/* -----------------db연동 실제 데이터가 들어갈 곳------------------ */
.cart-list{
    display: grid;
    grid-template-columns: 3vw 15vw 35vw 8vw 8vw 2vw 7vw 1vw;
    padding: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}
.cart-list img{
    width: 6vw;
    border-radius: 15px;
}
.p_num{
    font-size: 1rem;
    font-weight: 700;
    width: 2.8vw;
    border: none;
    text-align: right;
}
/* ---------선택상품삭제----------- */
#delete{
    margin-left: 4.3vw;
}
/* --------------------------총상품가격---------------------- */
#total{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 1ch;
    margin: 0 27vw;
    border-radius: 5px;
}
/* --------------------------------구매하기버튼---------------------- */
.submit-wrapper{
    margin: 5vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-wrapper a{
    margin-right: 1vw;
    background-color: #fff;
    color: #0071e3;
    padding: 1%;
    width: 10em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid #0071e3;
    text-align: center;
}
#buy{
    background-color: #0071e3;
    color: #fff;
    padding: 1%;
    width: 10em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}
#buy:hover{
    background-color: #0077ed;
    color: #fff;
	transition: .4s;
}