#invoiceholder {
  width: 100%;
  padding-top: 20px;
}
#invoice {
  background: #fff;
}
#invoice-top {
  min-height: 120px;
}
#invoice-mid {
  min-height: 120px;
}
#invoice-bot {
  margin-top: 30px;
}
.logo {
  float: left;
  width: 60px;
  height: 37px;
  background: url(/image/logo_western.png) no-repeat;
  background-size: 60px 37px;
}
.clientlogo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.info {
  display: block;
  float: left;
  margin-left: 20px;
}
.info h2 {
  margin-bottom: 15px;
}
.info h3 {
  margin-bottom: 15px;
}
.info p {
  margin-bottom: 15px;
  color: gray;
}
.title {
  float: right;
}
.title p {
  text-align: right;
}

table {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 15px #fbfbfb;
}
td {
  padding: 5px 0 5px 15px;
  border-radius: 15px;
  border: 2px solid #eee;
}
.tabletitle {
  padding: 5px;
  background: #eee;
}
.service {
  border: 2px solid #eee;
}
.itemtext-top {
  background: #2dcef8;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 15px;
}
.itemtext-inner {
  border: 2px solid #eee;
  border-radius: 8px;
  width: 700px;
  padding: 10px;
  margin-bottom: 10px;
}
.item {
  width: 50%;
  background: #fff;
}
.itemtext {
  font-size: 0.9em;
}
#legalcopy {
  margin-top: 30px;
}

.legal {
  width: 70%;
}

.submit-wrapper {
  margin: 0;
}

#buy {
  margin-top: 30px;
}

.payment-container {
  width: 100%;
}

/* {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 15px #fbfbfb;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
} */

.payment-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.payment-table td,
th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.payment-table tr:nth-child(even) {
  background-color: #dddddd;
}

.total-price {
  text-align: right;
  color: #0800ff;
}
