<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genie.myapp.dao.AdministerDAO">

	<select id = "loginOk" resultType = "AdministerVO">

		select ad.genie_id, ad.administer_name 
		from account ac 
		join administer ad 
		on ac.genie_id=ad.genie_id 
		where ac.genie_id=#{genie_id} and ac.genie_pwd=sha2(#{genie_pwd},256)

	</select>
</mapper>