<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genie.myapp.dao.AdminDAO">
	<!-- 카테고리 -->
	<select id="adminCategoryTag" resultType="AdminVO">
		select category_id, product_category from category
	</select>
	<!-- 태그 -->
	<select id="adminTag" resultType="AdminVO">
		select product_tag_id, product_tag from tag 
	</select>

	<!-- 태그 셀렉트 All -->
	<select resultType="AdminVO" id="tagAllSelect">
		select product_tag_id, product_tag from tag order by product_tag_id asc
	</select>
	<select resultType="AdminVO" id="getadminTag" parameterType="String">
		select product_tag_id, product_tag from tag where product_tag_id='${param1}'
	</select>
	<update id="adminTagPopEdit" parameterType="AdminVO">
		update tag set product_tag_id=#{product_tag_id}, product_tag=#{product_tag}
		where product_tag_id=#{product_tag_id}
	</update>
	<delete id="adminTagDel">
		delete from tag where product_tag_id='${param1}'
	</delete>
	<!-- 태그 셀렉트 All 끝 -->

	<!-- 카테고리 셀렉트 All 시작 -->
	<select resultType="AdminVO" id="categoryAllSelect">
		select category_id, product_category from category
	</select>
	<select resultType="AdminVO" id="getadcategory" parameterType="String">
		select category_id, product_category from category where category_id='${param1}'
	</select>
	<update id="adcategoryPopEdit" parameterType="AdminVO">
		update category set category_id=#{category_id}, product_category=#{product_category}
		where category_id=#{category_id}
	</update>
	<delete id="adcategoryDel">
		delete from category where category_id='${param1}'
	</delete>
	<!-- 카테고리 셀렉트 All 끝 -->

	<!-- ============================================ -->


	<select resultType="UserVO" id="userAllSelect">
		select genie_id, user_name, user_tel, user_email, user_zipcode, user_addr, user_detailaddr, user_gender, 
		date_format(sign_in_date, '%y-%m-%d') sign_in_date, payment_method from user 
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%' 
		</if> 
		order by sign_in_date desc limit ${onePageRecord} offset ${offsetPoint} 
	</select>

	<select resultType="UserVO" id="getadmember" parameterType="String">
		select genie_id, user_name, user_tel, user_email, user_zipcode, user_addr, user_detailaddr, date_format(sign_in_date, '%y-%m-%d') sign_in_date, 
		payment_method from user where genie_id='${param1}'
	</select>
	
	<update id="admemberPopEdit" parameterType="UserVO">
		update user set genie_id=#{genie_id}, user_name=#{user_name}, user_tel=#{user_tel}, user_email=#{user_email}, 
		user_zipcode=#{user_zipcode}, user_addr=#{user_addr}, user_detailaddr=#{user_detailaddr}, 
		sign_in_date=#{sign_in_date}, payment_method=#{payment_method} 
		where genie_id=#{genie_id}
	</update>
	
	<delete id="admemberDel">
		delete from user where genie_id='${param1}'
	</delete>
	
	<select resultType="int" id="totalRecord">
		select count(genie_id) cnt from user 
	<if test="searchWord!=null">
		where ${searchKey} like '%${searchWord}%'
	</if>
	</select>
	
</mapper>