<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.genie.myapp.dao.CertDAO">
	<select id="FindId" resultType="String">
    	select genie_id
    	from user
    	where user_email=#{user_email} 
	</select>

	<select id="overlapCheck" resultType="int">

		select count(*) 
		from user 
		where ${param2}=#{param1}

	</select>

	<select id="emailCheck" resultType="String">
		select 1 result 
    	from dual 
    	where exists(
        select 1 
        from user u
        where u.genie_id=#{genie_id} and u.user_email=#{user_email} 
    	)

	</select>

	<update id ="PwdEditOk">

		update account  
		set genie_pwd=sha2(#{genie_pwd},256) 
		where genie_id=#{genie_id}

	</update>

</mapper>