<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genie.myapp.dao.MbtiDAO">
	
	<select id="getProduct" resultType="SellerProductVO">
		select p.product_id, p.genie_id, p.product_category, p.product_tag, p.product_name, p.product_price, p.product_info, p.product_stock, p.product_quantity, p.product_hit, p.product_like, 
		p.product_writedate, p.product_image1, p.product_image2, p.product_image3, p.product_mbti, s.company_name company_name 
		from product p join seller s 
		on p.genie_id=s.genie_id 
		where product_mbti like '%${param1}%' 
		order by product_id desc
	</select>
	
	<select id="pricelist" resultType="SellerProductVO">
		select product_id, genie_id, product_category, product_tag, product_name, product_price, product_info, product_stock, product_quantity, product_hit, product_like, 
		product_writedate, product_image1, product_image2, product_image3, product_mbti 
		from product 
		where product_mbti like '%${param1}%' 
		order by product_price asc
	</select>
	
	<select id="pricelistdesc" resultType="SellerProductVO">
		select product_id, genie_id, product_category, product_tag, product_name, product_price, product_info, product_stock, product_quantity, product_hit, product_like, 
		product_writedate, product_image1, product_image2, product_image3, product_mbti 
		from product 
		where product_mbti like '%${param1}%' 
		order by product_price desc
	</select>
	
	<select id="recentlist" resultType="SellerProductVO">
		select product_id, genie_id, product_category, product_tag, product_name, product_price, product_info, product_stock, product_quantity, product_hit, product_like, 
		product_writedate, product_image1, product_image2, product_image3, product_mbti 
		from product 
		where product_mbti like '%${param1}%' 
		order by product_writedate desc
	</select>
	
	<select id="likelist" resultType="SellerProductVO">
		select product_id, genie_id, product_category, product_tag, product_name, product_price, product_info, product_stock, product_quantity, product_hit, product_like, 
		product_writedate, product_image1, product_image2, product_image3, product_mbti 
		from product 
		where product_mbti like '%${param1}%' 
		order by product_like desc
	</select>
	
	
	<!-- 상품정렬(카테고리,태그)  -->
	
	<select id="productPriceAsc" resultType="ProductVO">
		select 
            product_id, 
            genie_id,
            product_category,
            product_tag,
            product_name,
            product_price,
            product_info,
            product_stock,
            product_quantity,
            product_hit,
            product_like,
            product_writedate,
            product_image1,
            product_image2,
            product_image3,
            product_mbti 
        from product 

        <where>
        <if test="product_category != null">

            product_category like '%${product_category}%'  <!--where procuct_category like '%생일%'-->

        </if>
        <if test="product_tag != null">

             product_tag like '%${product_tag}%'

        </if>
        </where>

            order by product_price asc
	</select>
	
	<select id="productPriceDesc" resultType="ProductVO">
		select 
            product_id, 
            genie_id,
            product_category,
            product_tag,
            product_name,
            product_price,
            product_info,
            product_stock,
            product_quantity,
            product_hit,
            product_like,
            product_writedate,
            product_image1,
            product_image2,
            product_image3,
            product_mbti 
        from product 

        <where>
        <if test="product_category != null">

            product_category like '%${product_category}%'  <!--where procuct_category like '%생일%'-->

        </if>
        <if test="product_tag != null">

             product_tag like '%${product_tag}%'

        </if>
        </where>

            order by product_price desc
	</select>
	
	<select id="productRecent" resultType="ProductVO">
		select 
            product_id, 
            genie_id,
            product_category,
            product_tag,
            product_name,
            product_price,
            product_info,
            product_stock,
            product_quantity,
            product_hit,
            product_like,
            product_writedate,
            product_image1,
            product_image2,
            product_image3,
            product_mbti 
        from product 

        <where>
        <if test="product_category != null">

            product_category like '%${product_category}%'  <!--where procuct_category like '%생일%'-->

        </if>
        <if test="product_tag != null">

             product_tag like '%${product_tag}%'

        </if>
        </where>

            order by product_writedate desc
	</select>
	
	<select id="productLike" resultType="ProductVO">
		select 
            product_id, 
            genie_id,
            product_category,
            product_tag,
            product_name,
            product_price,
            product_info,
            product_stock,
            product_quantity,
            product_hit,
            product_like,
            product_writedate,
            product_image1,
            product_image2,
            product_image3,
            product_mbti 
        from product 

        <where>
        <if test="product_category != null">

            product_category like '%${product_category}%'  <!--where procuct_category like '%생일%'-->

        </if>
        <if test="product_tag != null">

             product_tag like '%${product_tag}%'

        </if>
        </where>

            order by product_like desc
	</select>
</mapper>