<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genie.myapp.dao.OrderDAO">

<!-- 구매정보 이동 -->

<!-- 장바구니 정보 가져오기 -->
    <select id="readyToPay" resultType="CartVO">

        select * 
        from cart c 
        join product p 
        on c.product_id=p.product_id 
        where c.cart_num in

	  	<foreach collection="cartList" index="index" item ="item" open="(" separator="," close=")">
	  		${item}
	  	</foreach>	 

    </select>

    <select id="getFromCart" resultType="OrderVO">

        select * 
        from cart c 
        join product p 
        on c.product_id=p.product_id 
        where c.cart_num in

	  	<foreach collection="cartList" index="index" item ="item" open="(" separator="," close=")">
	  		${item}
	  	</foreach>	
    
    </select>
    
    <!-- 주문정보 저장 -->
    <insert id="afterPayment">

    	insert into myorder 
            (order_num, 
            genie_id, 
            product_id,

            recipient_name, 
            recipient_phone,
            recipient_address, 
            recipient_request,

            order_price,
            order_qty) 

        values  
        

            (#{order_num},
            #{genie_id}, 
            #{product_id}, 

            #{recipient_name},
            #{recipient_phone},
            #{recipient_address}, 
            #{recipient_request}, 

            #{order_price},
            #{order_qty})
        
        
    </insert>

<!-- 장바구니 삭제 -->
    <delete id="afterOrderCart">
        delete from cart 
            <where>
                <foreach collection="cartList" index="index" item ="item" open="cart_num in (" separator ="," close=")">
                    #{item}  			
                </foreach>	 
            </where>
    </delete>
<!-- 
    <delete id="afterOrderCart">
        delete from cart where cart_num=#{cart_num}
    </delete> -->

    <!-- 주문 완료 페이지 -->

    <select id="getOrderList" resultType="OrderVO">
    
		select 
            m.order_num, 
            m.genie_id, 
            m.product_id,
            c.product_name,
            m.recipient_name, 
            m.recipient_phone,
            m.recipient_address, 
            m.recipient_request,
            m.order_price,
            m.order_qty,
            m.payment_method,
            max(order_writedate)  
		from myorder m 
        join product c 
        on m.product_id=c.product_id  
        where m.genie_id=#{genie_id}

    </select>

</mapper>