<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genie.myapp.dao.SellerDAO">

  <!-- 주문목록 -->
	<select id="sellerOrder" resultType="OrderVO">
		select m.order_num, m.genie_id, p.product_name, m.recipient_name, m.recipient_phone, m.recipient_address, m.recipient_request, m.recipient_delivery_status, m.order_price, m.order_qty, m.order_writedate
		from myorder m join
			(select product_id, genie_id as seller_id, product_name 
			from product
			where genie_id = #{param2}) p
		on m.product_id = p.product_id
		where recipient_delivery_status != 'delivered'
		order by m.order_writedate desc
	</select>
	
<!-- 배송완료 주문목록 -->
	<select id="deliveredOrder" resultType="OrderVO">
		select m.order_num, m.genie_id, p.product_name, m.recipient_delivery_status, m.order_price, m.order_qty, m.order_writedate
		from myorder m join
			(select product_id, genie_id as seller_id, product_name 
			from product
			where genie_id = #{param2}) p
		on m.product_id = p.product_id
		where recipient_delivery_status = 'delivered'
		order by m.order_writedate desc
	</select>

	<select id="idCheck" resultType="int">
		select count(genie_id) cnt from account where genie_id=#{genie_id}
	</select>
	
	<insert id="AccountWrite">
		insert into account(ROLE, genie_id, genie_pwd) 
		values(#{ROLE},#{genie_id}, #{genie_pwd})
	</insert>
	
	<insert id="sellerWrite">
		insert into seller(genie_id, company_name, ceo_name, seller_tel, seller_email, seller_website, seller_reg_no, seller_address, seller_status) 
		values(#{genie_id}, #{company_name}, #{ceo_name}, #{seller_tel}, #{seller_email}, #{seller_website}, #{seller_reg_no}, #{seller_address}, #{seller_status});
	</insert>

	<insert id="productWrite">
		insert into product(genie_id, product_category, product_tag, product_name, product_price, product_info, product_quantity, product_image1, product_image2, product_image3, product_mbti) 
		values(#{genie_id}, #{product_category}, #{product_tag}, #{product_name}, ${product_price}, #{product_info}, ${product_quantity}, #{product_image1}, #{product_image2}, #{product_image3}, #{product_mbti})
	</insert>

	
	<select id="loginOk" resultType = "SellerVO">

		select a.genie_id, a.genie_pwd, s.company_name, a.ROLE
		from account a 
		join seller s 
		on a.genie_id=s.genie_id 
		where a.genie_id=#{genie_id} and a.withdrawal=1;

	</select>
	
	<select id="productList" resultType="SellerProductVO">
		select product_id, genie_id, product_category, product_tag, product_name, product_price, product_quantity, product_mbti 
		from product 
		<if test="searchWord==null">
			where genie_id=#{genie_id} 
		</if> 
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%' and genie_id=#{genie_id} 
		</if>
		order by product_id desc limit ${onePageRecord} offset ${offsetPoint} 
	</select>

    <select id = "getSeller" resultType = "SellerVO">

		select genie_id, seller_tel, seller_email, seller_reg_no, company_name, ceo_name, seller_website
		from seller 
		where genie_id=#{genie_id}

	</select>
	
	<select id="getProduct" resultType="SellerProductVO">
		select product_id, product_name, product_price, product_info, product_quantity, product_image1, product_image2, product_image3, product_category, product_tag, product_mbti 
		from product
		where product_id=${param1}
	</select>
	
	<delete id="productDel">
		delete from product where product_id=${param1}
	</delete>
	
	<update id="productEditOk">
		update product set product_name=#{product_name}, product_price=${product_price}, product_info=#{product_info}, product_quantity=${product_quantity}, 
		product_image1=#{product_image1}, product_image2=#{product_image2}, product_image3=#{product_image3}, product_category=#{product_category}, product_tag=#{product_tag}, product_mbti=#{product_mbti} 
		where product_id=${product_id}
	</update>

	<!--   주문 상태 수정-->
	 <update id="updateDeliveryStatus">
	 	update myorder
	 	<set>
	 		<if test = "recipient_delivery_status != '' and recipient_delivery_status != null">
	 			recipient_delivery_status = #{recipient_delivery_status}
	 		</if>
	 	</set> 
	 	where order_num = #{order_num}
	</update>
	
	<select id="inquiryList" resultType="InquiryVO">
		select i.genie_id, i.product_id, p.product_name, i.inquiry_title, i.inquiry_content, i.inquiry_status, i.inquiry_writedate 
		from inquiry i join product p 
		on i.product_id=p.product_id 
		where i.product_id in(select product_id from product where genie_id=#{param2}) 
		order by i.product_id asc
	</select>

	<!-- 이번달 총매출 -->
	<select id="orderSum" resultType="int">
		select ifnull(sum(order_price), 0)
		from myorder m join
			(select product_id, genie_id as seller_id, product_name 
			from product
			where genie_id = #{param1}) p
		on m.product_id = p.product_id
		where MONTH(order_writedate)=MONTH(now())
        and YEAR(order_writedate)=YEAR(now());
		
	</select>
	
	<!--  일별 매출 -->
	<select id="orderSumByDay" resultType="OrderVO">
		select date_format(order_writedate, '%m-%d') as month_day, sum(order_price) as total_sales
		from myorder m join
			(select product_id, genie_id as seller_id, product_name 
			from product
			where genie_id = #{param1}) p
		on m.product_id = p.product_id
		group by month_day
		order by month_day

		<!-- select date_format(order_writedate, '%m-%d') as month_day, sum(order_price) as total_sales
		from myorder
		group by month_day; -->
	</select>
	
	<!--  총 결제건수 -->
	<select id="orderCount" resultType="int">
		select count(order_num) order_cnt
		from myorder m join
			(select product_id, genie_id as seller_id, product_name
			from product
			where genie_id = #{param1}) p
		on m.product_id = p.product_id;
	</select>
	
	<!--  이달의 상품 -->
	<select id="bestSeller" resultType="string">
		select product_name
		from
			(select seller_id, product_id, product_name, count(product_id) as sold_cnt
			from 
				(select m.order_num, m.genie_id orderer_id, m.product_id, p.product_name, p.genie_id seller_id
				from myorder m join product p
				on m.product_id = p.product_id
				where p.genie_id=#{param1}) a
			group by 1,2,3
			order by sold_cnt desc
			limit 1) b;
	</select>

	<!-- 배송대기 중  -->
	<select id ="deliveryPending" resultType="int">
		select count(order_num) delivery_hold 
		from myorder m join 
			(select product_id, genie_id as seller_id, product_name 
			from product 
			where genie_id=#{param3})p
		on m.product_id = p.product_id
		where recipient_delivery_status = 'delivery_prepared';
	</select>

	<!-- 오늘 들어온 주문  -->
	<select id ="todayOrder" resultType="int">
		select count(order_num) today_order 
		from myorder m join 
			(select product_id, genie_id as seller_id, product_name 
			from product 
			where genie_id=#{param3})p
		on m.product_id = p.product_id
		where date_format(order_writedate, "%Y-%m-%d") = curdate();
	</select>

	<!-- 배송 중  -->
	<select id ="deliveringOrder" resultType="int">
		select count(order_num) delivery_hold 
			from myorder m join 
			(select product_id, genie_id as seller_id, product_name 
			from product 
			where genie_id=#{param3})p
		on m.product_id = p.product_id
		where recipient_delivery_status = 'delivering';
	</select>

	<!-- 아이템별 매출 -->
	<select id="revenueByProduct" resultType="OrderVO">
	select product_image1, product_name, sold_counts, total_sales
	from
		(select product_id, count(product_id) sold_counts, sum(order_price) total_sales
		from myorder
		group by product_id) a
	join
		(select distinct m.product_id, p.product_name, p.product_image1
		from myorder m join product p
		on m.product_id = p.product_id
		where p.genie_id=#{param1}) b
	on a.product_id = b.product_id
	order by total_sales desc
	limit 3
	</select>

	<!-- seller status -->
	<select id="sellerStatus" resultType="String">
		select seller_status from seller where genie_id = #{param4}
	</select>

	<!-- 이번달 매출 -->
	<select id="thisMonthRevenue" resultType="int">
		select ifnull(sum(m.order_price), 0) monthly_revenue
		from myorder m join 
				(select product_id, genie_id as seller_id, product_name 
				from product 
				where genie_id=#{param1}) p
			on m.product_id = p.product_id
		where date_format(m.order_writedate, '%y-%m') = month(curdate())
	</select>

	<!-- 카테고리별 상품 판매건수 -->
	<select id="topCategory" resultType="OrderVO">
		select product_category, count(product_id) as sold_counts
		from (select m.genie_id, m.product_id, m.order_price, m.order_writedate, p.genie_id seller_id, p.product_category, p.product_name
			from myorder m join (select * from product where genie_id=#{param1}) p
			on m.product_id = p.product_id) a
		group by 1
		order by sold_counts desc
	</select>

	<select resultType="int" id="productTotalRecord">
		select count(product_id) cnt from product 
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
</mapper>