<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genie.myapp.dao.SellerDAO">

  <!-- <select id="sellerOrder" resultType="OrderVO">
    select order_num, genie_id, product_id, recipient_name, recipient_phone, recipient_address, recipient_request, recipient_delivery_status, order_price, order_qty, order_writedate from myorder
  </select> -->
  <select id="sellerOrder" resultType="OrderVO">
    select m.order_num, m.genie_id, p.product_name product_name, m.recipient_name, m.recipient_phone, m.recipient_address, m.recipient_request, m.recipient_delivery_status, m.order_price, m.order_qty, m.order_writedate 
    from myorder m join product p 
    on m.product_id = p.product_id;
  </select>

	<select id="idCheck" resultType="int">
		select count(genie_id) cnt from account where genie_id=#{genie_id}
	</select>
	
	<insert id="AccountWrite">
		insert into account(member_type, genie_id, genie_pwd) 
		values(#{member_type},#{genie_id}, sha2(#{genie_pwd},256));
	</insert>
	
	<insert id="sellerWrite">
		insert into seller(genie_id, company_name, ceo_name, seller_tel, seller_email, seller_website, seller_reg_no, seller_address, seller_status) 
		values(#{genie_id}, #{company_name}, #{ceo_name}, #{seller_tel}, #{seller_email}, #{seller_website}, #{seller_reg_no}, #{seller_address}, #{seller_status});
	</insert>

	<insert id="productWrite">
		insert into product(genie_id, product_category, product_tag, product_name, product_price, product_info, product_quantity, product_image1, product_image2, product_image3) 
		values(#{genie_id}, #{product_category}, #{product_tag}, #{product_name}, #{product_price}, #{product_info}, #{product_quantity}, #{product_image1}, #{product_image2}, #{product_image3})
	</insert>

	
	<select id="loginOk" resultType = "SellerVO">

		select s.genie_id, s.company_name 
		from account a 
		join seller s 
		on a.genie_id=s.genie_id 
		where a.genie_id=#{genie_id} and a.genie_pwd=sha2(#{genie_pwd},256) and a.withdrawal=1;

	</select>
	
	<select id="productList" resultType="SellerProductVO">
		select product_id, genie_id, product_category, product_tag, product_name, product_price, product_quantity 
		from product 
		where genie_id=#{genie_id}
	</select>

    <select id = "getSeller" resultType = "SellerVO">

		select genie_id, seller_tel, seller_email, seller_reg_no, company_name, ceo_name, seller_website
		from seller 
		where genie_id=#{genie_id}

	</select>


</mapper>