<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.genie.myapp.dao.UserDAO">

	<!-- 로그인 -->
	<select id = "loginOk" resultType = "UserVO">

		select u.genie_id, u.user_name, a.ROLE  
		from user u 
		join account a 
		on a.genie_id=u.genie_id 
		where a.genie_id=#{genie_id} and genie_pwd=sha2(#{genie_pwd},256) and a.withdrawal=1;

	</select>


	<!-- 회원가입 -->
	<select id = "idCheck" resultType="int">

		select count(genie_id) cnt from account where genie_id=#{genie_id}

	</select>

	<insert id="AccountWrite">

		insert into account(ROLE, genie_id, genie_pwd) 
		values(#{ROLE},#{genie_id}, sha2(#{genie_pwd},256))

	</insert>

    <insert id = "UserWrite">	

		insert into user(genie_id, user_name, user_tel, user_email, user_gender) 
		values(#{genie_id}, #{user_name}, #{user_tel}, #{user_email},  #{user_gender})

	</insert>


	<!-- 배송지 -->
	<select id = "getDeliveryList" resultType="DeliveryVO">

		select * 
		from address 
		where genie_id=#{genie_id}

	</select>

	<insert id="addDelivery">	

		insert into address(address_num, genie_id, receiver_name, receiver_tel, receiver_zipcode, receiver_addr, receiver_detailaddr) 
		values(#{address_num}, #{genie_id},#{user_name}, #{user_tel}, #{user_zipcode}, #{user_addr}, #{user_detailaddr})

	</insert>

	<delete id="delDelivery">
		delete from address 
		where address_num=#{param1} and genie_id=#{param2}
	</delete>


	<!-- 회원정보 -->
    <select id = "getUser" resultType = "UserVO">

		select genie_id, user_name, user_tel, user_email 
		from user
		where genie_id=#{genie_id}

	</select>

	<update id ="PwdEditOk">

		update account 
		set genie_pwd=sha2(#{genie_pwd2},256)
		where genie_id=#{genie_id} and genie_pwd=sha2(#{genie_pwd},256)

	</update>
	
    <update id ="UserEditOk">

		update user 
		set user_tel=#{user_tel}, user_email=#{user_email} 
		where genie_id=#{genie_id}

	</update>

	<!-- 주문정보 -->
	<select id="getOrder" resultType="OrderVO">
		
		select * 
		from myorder m
		join product d
		on m.product_id=d.product_id 
		where m.genie_id=#{param1} 

	</select>

	<!-- 찜한 상품 리스트-->
	<select id="getLikeList" resultType="ProductVO">
		select * 
		from product_like l 
		join product d 
		on l.product_id=d.product_id 
		where l.genie_id=#{param1}
	</select>
</mapper>