<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.genie.myapp.dao.UserDAO">

	<!-- <select id = "idCheck" resultType="int">
		select count(user_id) cnt from 
		(select count(U.user_id) user_id from user U 
			join seller S on U.user_id=S.seller_id 
			union All 
			select count(U.user_id) user_id from user U 
			join administer A on U.user_id = A.administer_code) k 
			where user_id =#{user_id};
		</select>
	-->
	<select id = "idCheck" resultType="int">
		select count(user_id) cnt from user where user_id =#{user_id}; 
	</select>
    <insert id = "UserWrite">
		insert into user(user_id, user_pwd, user_name, user_phone_num, user_email, user_zipcode, user_addr, user_detailaddr, user_gender)
		values(#{user_id}, #{user_pwd}, #{user_name}, #{user_phone_num}, #{user_email}, #{user_zipcode}, #{user_addr}, #{user_detailaddr}, #{user_gender})
	</insert>
	<select id = "loginOk" resultType = "UserVO">
		select user_id, user_name from user where user_id=#{user_id} and user_pwd=#{user_pwd}
	</select>
    <update id ="UserEditOk">
		update user set user_phone_num =#{user_phone_num}, user_email=#{user_email}, user_zipcode =#{user_zipcode}, user_addr=#{user_addr}, user_detailaddr =#{user_detailaddr}
		where user_id =#{user_id} and user_pwd=#{user_pwd}
	</update>
    <select id = "getUser" resultType = "UserVO">
		select user_id, user_name, user_phone_num, user_email, user_zipcode, user_addr, user_detailaddr
		from user
		where user_id=#{param1}
	</select>
</mapper>